{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Employees Assigments</h3>
    </div>
    <div class="col">
      <form method="POST">
        {% csrf_token %}
        
          <div class="row">
            <div class="col-8">
              <input type="text" class="form-control" name="search_text" id="search_text" placeholder="Name/ID No. ...">
            </div>
            <div class="col-4">
              <button class="btn btn-info">Search</button>
            </div>
          </div>
      </form>
    </div>
</div>
<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Position</th>
              <th scope="col">Client</th>
              <th scope="col">Workstation</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for employee in page_obj %}
            <tr>
              <td>{{employee.id}}</td>
              <td>{{employee.first_name}} {{employee.last_name}}</td>
              <td>{{employee.position}}</td>
              <td>{{employee.client}}</td>
              <td>{{employee.workstation}}</td>
              <td>{{employee.status}}</td>
              <td><a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#reassignModal{{ employee.id }}">
                <i class="bi bi-pencil-square"></i>
              </a></td>
            {% include "service_providers/assignments/reassign.html" %}
            </tr>
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}