<div class="modal fade" id="deleteEquipmentIssueModal{{issued_equipment.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Delete Equipment Issue Record</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'delete-issued-equipment' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <div class="mb-2">
                    <p>Are you sure to delete {{issued_equipment.equipment.name}} equipment issue record for <b>{{issued_equipment.employee.first_name}} {{issued_equipment.employee.last_name}}?</b></p>
                </div>
                <div class="mb-2">
                    <input
                      type="number"
                      class="form-control"
                      id="issue_id"
                      name="issue_id"
                      value="{{issued_equipment.id}}"
                      readonly
                      hidden
                      required
                    />
                  </div>
                 
                <div class="text-center mt-2">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Close</button>
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>