<div class="modal fade" id="issueEquipmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Issue Equipment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'issue-equipment' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
              
                  <div class="row mb-3">
                    <div class="col">
                      <label for="exampleInputPassword1" class="form-label">Employee</label>
                        <select class="form-select" id="employee" name="employee">
                            {% for employee in employees %}
                                <option value="{{ employee.id }}">{{employee.first_name}} {{employee.last_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                  </div>
                  
                  <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Equipment</label>
                        <select class="form-select" id="equipment" name="equipment">
                            {% for equipment in equipments %}
                                <option value="{{equipment.id}}">{{equipment.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="exampleInputPassword1" class="form-label">Quantity</label>
                            <input
                              type="number"
                              class="form-control"
                              id="quantity"
                              name="quantity"
                              required
                            />
                          </div>
                      </div>
                    <div class="row mb-3">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Retiurn Date</label>
                        <input
                          type="date"
                          class="form-control"
                          id="return_date"
                          name="return_date"
                          required
                        />
                      </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Equipment Condition</label>
                        <select class="form-select" name="condition" id="condition">
                          <option value="Used">Used</option>
                          <option value="New">New</option>
                          <option value="Faulty">Faulty</option>
                        </select>
                      </div>
                  </div>
                  
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Submit Equipment!</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>