<div class="modal fade" id="issueEquipmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Issue Equipment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'issue-equipment' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
              
                  <div class="row mb-3">
                    <div class="col">
                      <label for="exampleInputPassword1" class="form-label">Employee</label>
                        <select class="form-select" id="employee" name="employee">
                            {% for employee in employees %}
                                <option value="{{ employee.id }}">{{employee.first_name}} {{employee.last_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                  </div>
                  <hr>
                  <div class="row mb-3">
                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="chest_guard_issued" name="chest_guard_issued">
                        <label class="form-check-label" for="chest_guard_issued">
                          Issue Chest Guard
                        </label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="head_cap_issued" name="head_cap_issued">
                        <label class="form-check-label" for="head_cap_issued">
                          Head Cap
                        </label>
                      </div>
                    </div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                      <div class="col">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="shirt_issued" name="shirt_issued">
                          <label class="form-check-label" for="shirt_issued">
                            Issue Shirt
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="belt_issued" name="belt_issued">
                          <label class="form-check-label" for="belt_issued">
                            Issue Belt
                          </label>
                        </div>
                      </div>
                      </div>
                      <hr>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="shoes_issued" name="shoes_issued">
                            <label class="form-check-label" for="shoes_issued">
                              Issue Shoes
                            </label>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="boots_issued" name="boots_issued">
                            <label class="form-check-label" for="boots_issued">
                              Issue Boots
                            </label>
                          </div>
                        </div>
                        </div>
                        <hr>
                        <div class="row mb-3">
                          <div class="col">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="sweater_issued" name="sweater_issued">
                              <label class="form-check-label" for="sweater_issued">
                                Issue Sweater
                              </label>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="baton_issued" name="baton_issued">
                              <label class="form-check-label" for="baton_issued">
                                Issue Baton
                              </label>
                            </div>
                          </div>
                          </div>
                      <hr>
                   
                    <div class="row mb-3">
                      <div class="col">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="trouser_issued" name="trouser_issued">
                          <label class="form-check-label" for="trouser_issued">
                            Issue Trousers 
                          </label>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Date Issued</label>
                        <input
                          type="date"
                          class="form-control"
                          id="date_issued"
                          name="date_issued" placeholder placeholder
                          required
                        />
                      </div>
                  </div>
                  
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Submit Equipment!</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>