<div class="modal fade" id="editVehicleModal{{vehicle.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Edit Vehicle</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'edit-vehicle' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                
                  <input type="number" id="vehicle_id" name="vehicle_id" value="{{vehicle.id}}" hidden readonly />
  
                  <div class="row mb-3">
                    <div class="col">
                      <label for="exampleInputPassword1" class="form-label fw-bold">Plate Number</label>
                      <input
                        type="text"
                        class="form-control"
                        id="plate_number"
                        name="plate_number"
                        value="{{vehicle.plate_number}}"
                        required
                      />
                    </div>
                  </div>
                  
                    <div class="row mb-3">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Model</label>
                        <input
                          type="text"
                          class="form-control"
                          id="vehicle_model"
                          name="vehicle_model"
                          value="{{vehicle.vehicle_model}}"
                          required
                        />
                      </div>
                 
                  </div>
                  
                  <div class="row mb-3">
                    <div class="col">
                        <label class="form-label fw-bold">Vehicle Type</label>
                        <select class="form-select" id="vehicle_type" name="vehicle_type" value="{{vehicle.vehicle_type}}">
                            <option value="Motorbike">Motorbike</option>
                            <option value="Vehicle">Vehicle</option>
                          </select>
                      </div> 
                  </div>

                  <div class="row mb-3">
                    <div class="col">
                        <label class="form-label fw-bold">Vehicle Status</label>
                        <select class="form-select" id="vehicle_status" name="vehicle_status" value="{{vehicle.vehicle_status}}">
                            <option value="Good">Good</option>
                            <option value="Retired">Retired</option>
                            <option value="Broken">Broken</option>
                          </select>
                      </div>
                  </div>
                
                <div class="text-center mt-2 mb-3">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>