<div class="modal fade" id="editJobRoleModal{{job_role.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Edit Job Role</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'edit-job-role' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">

                <input type="number" value="{{job_role.id}}" name="job_role_id" id="job_role_id" hidden readonly />

                <div class="mb-3">
                    <label class="form-label fw-bold">Job Category</label>
                    <select class="form-select" id="category" name="category" value="{{job_role.category}}">
                        <option>{{job_role.category}}</option>
                        {% for category in job_categories %}
                          {% if category != job_role.category %}
                          <option value="{{category}}">{{category}}</option>
                          {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Job Group</label>
                    <select class="form-select" id="group" name="group" value="{{job_role.group}}">
                        <option>{{job_role.group}}</option>
                        {% for group in job_groups %}
                          {% if group != job_role.group %}
                            <option value="{{group}}">{{job_role.group}}</option>
                          {% endif %}
                        {% endfor %}
                    </select>
                </div>
            
                <div class="text-center mt-3 mb-3">
                  <button type="submit" class="btn btn-primary">Save Role</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>