{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col">
    <h3>Work Stations</h3>
  </div>
  <div class="col">
    <form method="POST">
      {% csrf_token %}
      
        <div class="row">
          <div class="col-8">
            <input type="text" class="form-control" name="search_text" id="search_text" placeholder="Name...">
          </div>
          <div class="col-4">
            <button class="btn btn-info">Search</button>
          </div>
        </div>
    </form>
  </div>
 
</div>

<div class="table-responsive small mt-3">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Client</th>
          <th scope="col">Name</th>
          <th scope="col">Guards Needed</th>
          <th scope="col">Guards Posted</th>
          <th scope="col">Work Shift</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for workstation in page_obj %}
        <tr>
          <td>{{workstation.id}}</td>
          <td>{{workstation.client}}</td>
          <td>{{workstation.name}}</td>
          <td>{{workstation.guards_needed}}</td>
          <td>{{workstation.guards_posted}}</td>
          <td>{{workstation.work_shift}}</td>
         
          <td>
            <a href="#" class="btn btn-info btn-sm"><i class="bi bi-eye-fill"></i></a>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    <div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}   
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
            {% if page_obj.has_next %}    
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}   
          </ul>
        </nav>
      </div>
  
  </div>
{% include "workstations/new_workstation.html" %}

{% endblock content %}