{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-4">
        <p>Name: {{workstation.name}}</p>
        <p>Phone No: {{workstation.phone_number}}</p>
        <p>Email: {{workstation.email}}</p>
        <p>Contract Started on: {{workstation.contract_start_date}}</p>
    </div>
    <div class="col-4">
        <p>Location: {{workstation.location_description}}</p>
        <p>Guards Posted: {{workstation.guards_posted}}</p>
        <p>Guards Needed: {{workstation.guards_needed}}</p>
        <p>Work Shift: {{workstation.work_shift}}</p>
    </div>
    <div class="col-4">
        <p>Postal Address: {{workstation.postal_address}}</p>
        <p>Town: {{workstation.town}}</p>
        <p>County: {{workstation.county}}</p>
        <p>Country: {{workstation.country}}</p>
    </div>
</div>
<hr/>
<h3>Guards Lists</h3>
<div class="table-responsive small">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">ID Number</th>
          <th scope="col">Phone</th>
          <th scope="col">Gender</th>
          <th scope="col">Address</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for employee in page_obj %}
        <tr>
          <td>{{employee.id}}</td>
          <td>{{employee.first_name}} {{employee.last_name}}</td>
          <td>{{employee.position}}</td>
          <td>{{employee.id_number}}</td>
          <td>{{employee.phone_number}}</td>
          <td>{{employee.gender}}</td>
          <td>{{employee.employee_address}}</td>
          <td>
            <a href="{% url 'employee-details' employee.id %}" class="btn btn-info btn-sm"><i class="bi bi-eye-fill"></i></a>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          {% if page_obj.has_previous %}   
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% endif %}
          <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
          {% if page_obj.has_next %}    
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          {% endif %}   
        </ul>
      </nav>
    </div>
  </div>
{% endblock content %}