{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Employee Attendance</h3>
    </div>
    <div class="col">
      <form method="POST">
        {% csrf_token %}
        
          <div class="row">
            <div class="col-8">
              <input type="text" class="form-control" name="search_text" id="search_text" placeholder="Name/ID No. ...">
            </div>
            <div class="col-4">
              <button class="btn btn-info">Search</button>
            </div>
          </div>
      </form>
    </div>
   {% if show_generate_attendance %}
    <div class="col">
      <a href="{% url 'generate-attendance' %}" class="btn btn-success">Generate List</a>
  </div>
  {% endif %}

</div>
<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Employee</th>
              <th scope="col">Checkin Date</th>
              <th scope="col">Time Marked</th>
              <th scope="col">Marked By</th>
              <th scope="col">Status</th>
              <th scope="col" colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            {% for attendance in page_obj %}
            <tr>
              <td>{{attendance.id}}</td>
              <td>{{attendance.employee}}</td>
              <td>{{attendance.date}}</td>
              <td>{{attendance.checkin_time.time}}</td>
              <td>{{attendance.checked_in_by}}</td>
              <td>
                {% if attendance.status == "Present" %}
                <span class="badge rounded-pill text-bg-success">{{attendance.status}}</span>
                {% elif attendance.status == "Absent" %}
                <span class="badge rounded-pill text-bg-warning">{{attendance.status}}</span>
                {% else %}
                <span class="badge rounded-pill text-bg-info">Pending</span>
                {% endif %}
              </td>
              <td>
              {% if attendance.marked %}
              <a href="{% url 'reset-attendance' attendance.id %}" class="btn btn-info btn-sm">Reset</a>
              {% else %}
               
              <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#markAttendanceModal{{ attendance.id }}">
                Mark
              </a>
              {% endif %}
            </td>
              
              {% include "attendances/mark_absent.html" %}
              {% include "attendances/mark_attendance.html" %}
            </tr>
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}